---
import '../styles/global.css';

const {titleCall} = Astro.props;
const {authorCall} = Astro.props;
const {titleResponse} = Astro.props;
const {authorResponse} = Astro.props;


---
<div class="CandRHeader">
	<div class="left">
		<h3 class="tinyPoppins"><a href="#call">{authorCall}</a></h3>
		<h1><a href="#call">{titleCall}</a></h1>
	</div>
	<div class="right">
		<h3 class="tinyPoppins"><a href="#response">{authorResponse}</a></h3>
		<h1><a href="#response">{titleResponse}</a></h1>
	</div>
</div>

<style>

.Safarifix, .CandRHeader, .CandRHeader div, .left, .right, .CandRHeader h1, .CandRHeader h3 {
	z-index: 100000;
  	-webkit-transform:translate3d(0,0,0);
  	overflow: visible;
}

.CandRHeader {
	align-content: center;
	display: flex;	
	position: fixed;	
	top: 40px;
	left: 0;
	right: 0;
	overflow: visible;
	-webkit-font-smoothing: auto;
  	-moz-osx-font-smoothing: auto;
}

.CandRHeader div {
	padding: 12px 6px 24px 24px;
	text-align: left;
	width: 50%;
}

.CandRHeader h1, .CandRHeader h3 {
	margin: 0;
	padding: 0;
}

.CandRHeader h1 {
	font-size: 18px;
	margin-top: 0;
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis; 
	display: inherit;
}

.CandRHeader h3.tinyPoppins {
	margin-bottom: 0;
}

h3 a {
	color: #fff;
	opacity: .7;
	text-decoration: none;
}

h3 span {
	margin-right: 8px;
}

.CandRHeader h1 a {
	text-decoration: none;
}

.left a {
	color: var(--color-sun-light);
}

.left h1, .left h3 {
	text-align: right;
}

.right a {
	color: var(--color-moon-light);
}

@media screen and (min-width: 481px) and (max-width: 720px) {
	h1 {
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {
	.left h1, .right h1 {
		display: none;
	}

	.CandRHeader {
		top: 70px;
		padding: 12px;
	}

	.CandRHeader div {
		padding: 0;
		display: table-cell;
		text-align: center; 
	}


	.left h3, .right h3 {
		display: inline-block; 
		margin: 0 auto;
		text-align: center; 
		vertical-align: middle
	}

}

</style>