---
import '../styles/global.css';

const {title} = Astro.props;
const {author} = Astro.props;
const {id} = Astro.props;

---

<div class="candritem" id={id}>
	<h1>{title}</h1>
	<h3>{author}</h3>
	<hr />
	<slot />
</div>

<style>

	.candrcontainer {
	}

	.candritem {
		margin: 0 auto;
		padding: 200px 32px 32px;
		max-width: 680px;
	}

	h1, h3 {
		text-align: center;
	}

	h3 {
		color: #ff44ec;
	}

	hr {
		width: 48px;
	}

	#call h3 {
		color: #ff634f;
	}

	#call hr {
		background: #ff634f;
	}


	#response h3 {
		color: #00a1e5;
	}

	#response hr {
		background: #00a1e5;
	}

	@media screen and (max-width: 480px) {

		.candritem {
			padding-top: 100px;
		}


	}
</style>