---
import '../styles/global.css';

const {titleCall} = Astro.props;
const {authorCall} = Astro.props;
const {titleResponse} = Astro.props;
const {authorResponse} = Astro.props;


---

	<div class="CandRHeader">
		<div class="left">
			<h3 class="tiny"><a href="#call"><span class="tinysentencecase">Call</span> {authorCall}</a></h3>
			<h1><a href="#call">{titleCall}</a></h1>
		</div>
		<div class="right">
			<h3 class="tiny"><a href="#response"><span class="tinysentencecase">Response</span> {authorResponse}</a></h3>
			<h1><a href="#response">{titleResponse}</a></h1>
		</div>
	</div>


<style>

.CandRHeader {
	align-content: center;
/*	background: #851616;*/
	display: flex;
	position: fixed;
	top: 40px;
	width: 100%;
	z-index: 10000;
	-webkit-font-smoothing: auto;
  	-moz-osx-font-smoothing: auto;
}

.CandRHeader div {
	padding: 12px 24px;
	text-align: left;
	width: 50%;
}

.left {
/*	background-color: #ff634f;*/
/*	border-right: 1px solid var(--color-bg);*/

}

.right {
/*	background-color: #202C4A;*/
}

.CandRHeader h1, h3 {
	margin: 0;
}

.CandRHeader h1 {
	font-size: 21px;
	margin-top: 6px;
}

h3 a {
	color: #fff;
	opacity: .7;
	text-decoration: none;
}

h3 span {
	margin-right: 8px;
}

.CandRHeader h1 a {
	text-decoration: none;
}

.left a {
	color: var(--color-sun);
}

.right a {
	color: var(--color-moon);
}

@media screen and (min-width: 481px) and (max-width: 720px) {
	h1 {
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		display: none;
	}

	h3 span {
		display: block;
	}
}

</style>