---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FooterIndex from '../components/FooterIndex.astro';
import CandRHeader from '../components/CandRHeader.astro';
import Spacer from '../components/Spacer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

export interface Props {
	content: {
		nextpairurl: string;
		calltitle: string;
		callauthor: string;
		responsetitle: string;
		responseauthor: string;

	};
}

const {
	content: { nextpairurl, calltitle, callauthor, responsetitle, responseauthor },
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body>
		<Header />

		<CandRHeader 
			titleCall={calltitle} authorCall={callauthor}
			titleResponse={responsetitle} authorResponse={responseauthor}>			
		</CandRHeader>
			
		<main>

			<div class="candrcontainer">

				<slot />

			</div>

			<FooterIndex />

			<Footer />
		</main>



	</body>

		<style>
			body {
				max-width: 100%;
			}

			#call {
				background-color: #888;
			}
			main {
				background-color: var(--main-bg);
				max-height: 100%;
				padding: 0;
				position: fixed;
				overflow-y: scroll;
				margin: 0;
				top: 120px;
				left: 24px;
				right: 24px;
				bottom: 24px;
			}

			@media screen and (max-width: 480px) {

				main {
					top: 124px;
					left: 12px;
					right: 12px;
					bottom: 12px;
				}

			}


		</style>	
</html>