---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CandRHeader from '../components/CandRHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

export interface Props {
	content: {
		nextpairurl: string;
		calltitle: string;
		callauthor: string;
		responsetitle: string;
		responseauthor: string;

	};
}

const {
	content: { nextpairurl, calltitle, callauthor, responsetitle, responseauthor },
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				max-width: 100%;
			}

			.next {
				margin: 0 auto;
				padding: 24px;
				text-align: center;
			}
			#call {
				background-color: #888;
			}
			main {
				background-color: var(--main-bg);
				max-height: 100%;
				padding: 0;
				position: fixed;
				overflow-y: scroll;
				top: 24px;
				left: 0;
				right: 0;
				bottom: 36px;
			}


		</style>
	</head>
	<body>
		<Header />


		
		<main>
			<div class="candrcontainer">

			<CandRHeader 
				titleCall={calltitle} authorCall={callauthor}
				titleResponse={responsetitle} authorResponse={responseauthor}>			
			</CandRHeader>

				<slot />

			</div>
		</main>
		<hr />
		<div class="next">
			<a href={nextpairurl}>Next Pair</a>
		</div>
		<Footer />
	</body>
</html>